<div class="row information">
  <h1>Featured Builds</h1>

  <ul>
    <% @builds.each do |build| %>
      <li><%= link_to build.title, build_path(build) %><br>
      <%= "  #{build.champion}" %></li>
    <% end %>
  </ul>

  <!-- This needs to be set so that if logged in can see 'create form' -->
    <%= link_to "Create a Build", new_build_path, class: "button" %>

</div>
