<div class="row information">
  <h1 style="text-align: center;"><%= @build.title %></h1>
  <h3><%= @build.champion %></h3>
  <p>
    <%= @build.about %>
  </p>

  <p>
    <%= @build.tips %>
  </p>
</div>
