<div class="row information" style="margin-top: 10px;">

  <aside class="large-4 columns user-sidebar">

    <h1><%= "#{@user.username}'s Profile Page" %></h1>
    <% if @user == current_user %>
      <ul class="vcard">
        <li class="email"><%= "Email:  #{@user.email}" %></li>
      </ul>
    <% end %>
  </aside>

</div>
