<div class="welcome-index">

  <h1 style="text-align: center;">Welcome to LoL TeamBuilder!</h1>

  <p class="panel radius" id="greeting">
    The purpose of this website is to help League of Legends players find team mates who are
    of similar skill level. Registered users can comment on teams to let the leader know
    when they will be online, and what roles they can fill.
    <br><br>
    Click "Find a Team" to see what teams are available!
  </p>
  <div class="back">
    <div class="button_base b03_skewed_slide_in">
      <div>
        <p><%= link_to "Find a Team", teams_path, class: 'button', id: "fat-before" %></p>
      </div>
      <div></div>
      <div>
        <p><%= link_to "Find a Team", teams_path, class: 'button', id: "fat-after" %></p>
      </div>
    </div>
  </div>
</div>
