#new_build > input {
  margin-left: 400px;
  background-color: #D17519;
}

body > div > div > a.button {
  margin-left: 445px;
  background-color: #D17519;
}

#new_build > img.resize {
  height: 45px;
  width: 45px;
}
