body {
  background-color: #4682B4 !important;
  nav {
    position: fixed; z-index: 10000;
    #welcome-back-button {
      border-width: 0px;
      &:hover {
        background-color: #007095 !important;
        border-width: 0px;
      }
    }
  }
  div {
    div {
      &.alert-box {
        margin-bottom: 0px;
      }
    }
  }
}

.button {
  background-color: #D17519;
  border-color: #D17519;
  border-width: 5px;
  &:hover {
    border-color: gray;
    border-width: 5px;
  }
  &.tiny {
    background-color: #D17519;
    border-color: #D17519;
    border-width: 5px !important;
    &:hover {
      border-color: gray;
      border-width: 5px;
    }
  }
}
