/* body > div > div:nth-child(6) > div > a {
  background-color: #D17519;
} */

/* #new_comment > input {
  background-color: #D17519;
} */
/*
div {
  background-image: url("/assets/Frost-skins-and-champions-league-of-legends-wallpaper.jpg");
  background-size: 100%;

} */

.user-prof-link {
  color: #E5E4E2;
  font-size: 17px;
}

body > div > div > div.row.information > h1 > a {
  color: #E5E4E2;
}

body > div > div > div.row.information > h2 {
  color: #E1E1E1;
}

body > div > div > div > h2 {
  color: #E5E4E2;
}

body > div > div > h2 {
  color: #E5E4E2;
}

body > div > div > div.row.information > h3 {
  color: #E5E4E2;
}

body > div > div > div.row.information > a.button.tiny.edit {
  margin-right: auto;
  margin-left: 50px !important;
}

body > div > div > a.button.tiny.edit {
  /* vertical-align: text-top; */
}

#team-show-panel {
  background-color: #76ADDA;
  border-color: gray;
}

#comment {
  background-color: #76ADDA;
  border-color: gray;
  width: 80%;
  margin-left: 100px;
}

#edit-delete-comment-buttons {
  margin-left: 100px;
}

.team-show {
    background-image: url("/assets/lol-team.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: relative;
    margin-top: -10px;
    min-height: 700px;
    width: auto;
}

/*
textarea#comment-new {
  height: 150px;
  border: 3px solid #cccccc;
  padding: 5px;
  font-family: Tahoma, sans-serif;
  background-position: bottom right;
  background-repeat: no-repeat;
} */

/* textarea#styled {
  width: 600px;
  height: 150px;
  border: 3px solid #cccccc;
  padding: 5px;
  font-family: Tahoma, sans-serif;
  background-position: bottom right;
  background-repeat: no-repeat;
} */

#edit-delete-team-buttons > a.button.left.tiny.edit {
  margin-right: 5px;
}

#back-button {
  margin-left: 570px;
}

#edit-delete-team-buttons {
  margin-left: 75px;
}

body > div > div > div.alert-box.notice {
  padding: none;
}

body > div > div > div > div > h2 {
  color: #E5E4E2;
  text-align: center;
}
