body > div > div {
  &.row.information > a {
    margin-left: 400px;
    background-color: #D17519;
  }
  ul > li {
    color: gray;
  }
  div {
    h1 {
      text-align: center;
      color: white;
    }
  }
}

#team-index-list {
  background-color: #1A354F;
  margin-top: 90px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 20px;
  padding-bottom: 5px;
  width: 700px;
}

.team-index {
  background-image: image-url("Frost-skins-and-champions-league-of-legends-wallpaper.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: relative;
  height: 1100px;
}

#create-team {
  text-align: center;
}
#create-team-button {
  background-color: #D17519 !important;
  border-color: #D17519;
  border-width: 5px;
  &:hover {
    background-color: #007095 !important;
    border-color: gray;
    border-width: 5px;
  }
}
