/* body > div > div:nth-child(6) > div > a {
  background-color: #D17519;
} */

#new_comment > input {
  background-color: #D17519;
}

.user-prof-link {
  color: #D17519;
  font-size: 17px;
}

body > div > div.row.information > h2 > a {
  color: #E1E1E1;
}
