#new_team > button {
  margin-left: auto;
  margin-right: auto;
  background-color: #D17519;
}

#new_user > div:nth-child(10) > input {
  margin-left: auto;
  margin-right: auto;
  background-color: #D17519;
}

body > div > div > a.button {
  margin-left: auto;
  margin-right: auto;
  background-color: #D17519;
}

#new_team > input {
  margin-left: 360px;
  background-color: #D17519;
}

body > div > div > h1 {
  color: white;
  text-align: center;
  padding-left: auto;
  padding-right: auto;
}

#new_team > p > label {
  color: white;
}

#new_team > img.resize {
  height: 45px;
  width: 45px;
}
