body > div > div > aside > ul > li.lolking_profile_link > a {
  color: silver;
  font-style: underline;
}

body > div > div > aside > h1 {
  align: center !important;
}

body > div > div > a.upvote.button.success.tiny.button:hover {
  background-color: green !important;
}

body > div > div > a.downvote.button.alert.tiny.button:hover {
  background-color: red !important;

}

body > div > div > aside > ul > li {
  color: silver;
}
