/* user_show_page */

.user-show {
  background: image-url("woad-ash.jpg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  /* background-image: image-url("woad-ash.jpg");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: relative;
  margin-top: -10px;
  min-height: 700px;
  width: auto; */
}

#like-dislike-buttons > a {
  margin-left:35px;
}

ul {
  list-style-type: none;
}

body > div > div.alert-box.notice {
  background-color: #D17519;
  margin-bottom: 0px !important;
}

hr {
  clear: both;
  visibility: hidden;
}

body > div > div > aside > h1 {
  align: center !important;
}

body > div > div > div > a.upvote.button.success.tiny.button:hover {
  background-color: #36D936 !important;
}

body > div > div > div > a.downvote.button.alert.tiny.button:hover {
  background-color: #FF4040 !important;
}

body > div > div > aside > ul > li.lolking_profile_link > u > a {
  color: #D9D936;
  font-style: underline;
}
.info-for-vcard { color: #004EBA; }

.vote-score { color: white; margin-left: 35px; }

h1 > #user-show-header {
  text-align: center;
}

#edit-delete-bio-buttons {
  margin-left: 20px;
}

#user-teams-header {
  text-align: center;
  background-color: #1A354F;
  margin-top: 40px;
  margin-bottom: 0;
  margin-left: auto;
  margin-right: auto;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 20px;
  padding-top: 20px;
  width: 700px;
}

#user-teams-list {
  background-color: #1A354F;
  margin-top: 0;
  margin-left: auto;
  margin-right: auto;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 20px;
  padding-bottom: 5px;
  width: 700px;
}
