#sign-up-button {
  background-color: #D17519 !important;
  border-color: #D17519;
  border-width: 5px;
  &:hover {
    background-color: #007095 !important;
    border-color: gray;
    border-width: 5px;
  }
}

#log-in-button {
  background-color: #D17519 !important;
  border-color: #D17519;
  border-width: 5px;
  &:hover {
    background-color: #007095 !important;
    border-color: gray;
    border-width: 5px;
  }
}

.devise-form-label label {
  color: rgb(224, 230, 224);
}
