body > div > div > aside > h1 {
  align: center !important;
}

body > div > div > div > a.upvote.button.success.tiny.button:hover {
  background-color: #36D936 !important;
}

body > div > div > div > a.downvote.button.alert.tiny.button:hover {
  background-color: #FF4040 !important;
}

body > div > div > aside > ul > li.lolking_profile_link > u > a {
  color: #D9D936;
  font-style: underline;
}
.info-for-vcard { color: #004EBA; }

.vote-score { color: white; margin-left: 35px; }

h3 {
  text-align: center;
  background-color: #1A354F;
  margin-top: 90px;
  margin-bottom: -70px;
  margin-left: 150px;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 5px;
  width: 700px;
}
