.welcome-index {
  background-image: image-url("Frost-skins-and-champions-league-of-legends-wallpaper.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: relative;
  height: 1100px;
}

.welcome-index > h1 {
  color: white;
  font-family: "Arial Rounded MT Bold", "Helvetica Rounded", Arial, sans-serif;
  margin-top: 0px;
  padding-top: 40px;
}

#greeting {

  width: 60%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 100px;
  margin-bottom: 30px;
}

#find-a-team {
  text-align: center;
}

/* body > div > h1 {
  color: white;
  font-family: "Arial Rounded MT Bold", "Helvetica Rounded", Arial, sans-serif;
}
 */
body > div > p {
  color: white;
  width: 60%;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

body > div > p > a {
  color: orange;
  text-decoration: underline;
}
